.container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.icon {
  margin-right: 20px;
}

.wrapper {
  text-align: left;
  font-size: 18px;
}

.time {
  font-weight: 600;
}

.date {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  color: var(--secondaryTextColor);
}

.time_container {
  display: flex;
  flex-direction: column;
}
